.nav-link {
    color: white;
    padding: 1.9em 2em;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}

.nav-link:hover {
    background: rgb(0, 26, 82);
    transition: all 0.3s ease-out;
}

.yolo {
    background: rgb(255, 174, 0);
    color: black;
    padding: 1.9em 2em;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}

.yolo:hover {
    background: rgb(26, 23, 23);
    color: white;
    padding: 1.9em 2em;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.2s ease-out;
}